go 1.26.1

use (
	.
	./plugins/p_totschool_appointments
	./plugins/p_totschool_clients
	./plugins/p_totschool_export
	./plugins/p_totschool_proposals
	./plugins/p_totschool_tally
	./plugins/p_totschool_users
)

replace (
	github.com/UniquityVentures/lamu => ../../lamu
	github.com/UniquityVentures/lamu/plugins/p_dashboard => ../../lamu/plugins/p_dashboard
	github.com/UniquityVentures/lamu/plugins/p_export => ../../lamu/plugins/p_export
	github.com/UniquityVentures/lamu/plugins/p_livereloading => ../../lamu/plugins/p_livereloading
	github.com/UniquityVentures/lamu/plugins/p_otp => ../../lamu/plugins/p_otp
	github.com/UniquityVentures/lamu/plugins/p_pwa => ../../lamu/plugins/p_pwa
	github.com/UniquityVentures/lamu/plugins/p_users => ../../lamu/plugins/p_users
)
